aws_region   = "ap-northeast-1"
project_name = "aws-ecs-cicd"
environment  = "dev"

vpc_cidr = "10.20.0.0/16"

public_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24"
]

container_port = 3000
desired_count  = 2
cpu            = 256
memory         = 512
